/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public/*
/storage/logs/*.log
/.env
/.env.*
!/.env.example
/.phpunit.result.cache
.DS_Store
.idea
.vscode
npm-debug.log
yarn-error.log
